.checkout-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 50px;
}

.checkout-table-container {
  border: 3px solid #f1f1f1;
  margin: 25px;
  min-width: 700px;
  padding: 25px;
  text-align: center;
  max-height: 80vh;
  overflow-x: scroll;
}

.checkout-form-container {
  max-width: 400px;
}

.checkout-table-title {
  text-align: start;
  padding-bottom: 20px;
}
