.login-container {
  border: 3px solid #f1f1f1;
  font-size: large;
  margin: auto;
  margin-top: 30px;
  max-width: 500px;
  padding: 25px;
  text-align: center;
  vertical-align: baseline;
}

.logo {
  border-radius: 100%;
  box-shadow: 0 0 0 6px white , 0 20px 25px #015939;
  width: 100%;
}

.login_title {
  margin-top: 30px;
}

.login-container form {
  margin-top: 30px;
}

.login-container input {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  font-size: large;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

.login-alert {
  color: red;
  padding-block: 8px;
}

.login-container button {
  background-color: #04aa6d;
  border: none;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  padding: 14px 20px;
  width: 100%;
}

.login-container button:hover {
  opacity: 0.8;
}

.login-container button:disabled {
  background-color: #adbfa9;
  cursor: not-allowed;
  opacity: 0.8;
}

