.order-details-container {
  border: 3px solid #f1f1f1;
  margin: auto;
  margin-top: 80px;
  max-width: 600px;
  padding: 25px;
  text-align: center;
}

.order-details-container table {
  width: 100%;
}

.order-card {
  background-color: rgb(238, 246, 237);
  width: 100%;
}

.order-details-container button {
  background-color: #04aa6d;
  border: none;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  opacity: 1;
  padding: 14px 20px;
  width: 100%;
}

.order-details-container button:hover {
  opacity: 0.8;
}
