.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  text-align: center;
}

.nav-bar li {
  flex-grow: 1;
}

.nav-bar li a, .nav-bar li span {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #015939;
}