.product-card-container {
  border: 3px solid #f1f1f1;
  border-radius: 5px;
  text-align: center;
  margin-top: 75px;
  padding: 15px;
  font-size: larger;
  width: 200px;
  height: 300px;
  box-shadow: 5px 10px 18px #888888;
}

.product-card-container input {
  text-align: right;
  width: 75px;
  height: 50px;
  padding: 12px 20px;
  margin: 15px 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5%;
}

.product-card-container button {
  background-color: #037d50;
  color: white;
  padding: 14px 20px;
  border: 1px solid white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 15%;
  box-shadow: 2px 5px 2px #c4c4c4;
}

.product-card-container button:hover {
  opacity: 0.8;
}

.product-card-container img {
  max-width: 100px;
  max-height: 100px;
}