.seller-order-card-container {
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
  flex-direction: column;
  height: 130px;
  margin: 35px;
  opacity: 0.7;
  width: 450px;
}

.seller-order-title {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 25%;
}

.seller-order-info {
  display: flex;
  height: 100%;
}

.seller-order-status {
  background-color: #EAF1EF;
  padding: 10px;
  width: 45%;
}

.seller-order-status div {
  align-items: center;
  background-color: rgba(204, 184, 0, 1);
  border-radius: 15px;
  display: flex;
  font-size: large;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.seller-order-status-preparando div{
  background-color: rgba(102, 204, 0, 1);
}

.seller-order-status-entregue div{
  background-color: rgba(0, 204, 155, 1);
}

.seller-order-date-price {
  background-color: #EAF1EF;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  list-style: none;
  padding: 10px;
  width: 30%;
}

.seller-order-date-price li {
  background-color: rgba(242, 255, 252, 1);
  border-radius: 8%;
  font-weight: bold;
  height: 45%;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.seller-order-address {
  align-items: center;
  background-color: #EAF1EF;
  display: flex;
  height: 30px;
  justify-content: center;
}

.seller-order-address-container {
  display: flex;
  justify-content: flex-end;
}

.seller-order-address-container p{
  width: 75%;
}
